h1{
    text-align: center;
}
body{
    background: #3494E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h2{
    font-family: 'Roboto Mono', monospace;
}
img{
   height: 300px;
}
button{
    background-color:hsla(9, 100%, 64%, 0);
}
.city {
    background-color:hsla(9, 100%, 64%, 0);
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
  }